body{
	font-family: arvo;
	width: 100%;
	height:100%;
	background-color: red;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: red;
		-webkit-transition: color .25s, background-color .25s;
}

.navbar-default {
	background-color: red;
	border-color: red;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: white;
	text-decoration: none;
	background-color: white;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: white; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
	color: white; /*Change active text color here*/
}

#explanation{
	width: 100%;
	height:400px;
	background-size: 100% 100%;
	background-color:white;
	color:black;

}

.msg{
	color:black;
	text-align: center;
	padding-top: 5%;
}

#summary
{
	font-size:.8em;
	color:white;
	text-align: center;
	height: 300px;
	background:linear-gradient(0deg, purple, red 80%) no-repeat;
}
#censored
{
	height:100px;
	width:100px;
	margin-left: 45%;
	padding-top: 20px;

}

#start{
	margin-left: auto;
	margin-right: auto;
	height:40%;
}

.active{

}
.active:hover{
	background-color: white;
	color:red;
}
#about_us
{
	height:200px;
	background-color: white;
	color: blue;
	font-family: sans-serif;
	font-size: 2.2em;
}
#final_statement
{
	text-align: center;
	margin-top: 15%;
}

#switch{
	border-bottom: solid black;
}

.vid{
	float:left;	
	margin-left: 5%;

}
#vid_array li{
    list-style-type: none;

}

iframe{
	border: none;
}